.login__wrapper {
  background-color: var(--apt-black-v2);
  width: 100%;
  height: 100vh;
  min-height: 800px;
  color: var(--apt-white);
  padding: 160px 180px;
}

.login__container {
  max-width: 1440px;
  margin: 0 auto;
}

.login__logoWrapper {
  position: relative;
  width: 120px;
  height: 120px;
  margin-bottom: 48px;
}

.login__heading {
  font-weight: 400;
  font-size: 56px;
  line-height: 65px;
}

.login__terms {
  margin-top: 24px;
  text-decoration: underline;
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  color: var(--apt-grey);
}

.login__buttonwrapper {
  display: flex;
  flex-direction: column;
  margin-top: 96px;
  gap: 24px;
  max-width: 565px;
  align-items: center;
}
.login__google {
  background-color: var(--apt-white);
  color: var(--apt-black);
  font-size: 20px;
  font-weight: 600;
  border: 0px;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 24px;
  line-height: 22px;
  padding: 24px;
  width: 100%;
}
.login__already {
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  color: var(--apt-grey);
}

.login__login {
  color: var(--apt-white);
  font-weight: 500;
  text-decoration: underline;
  margin-left: 6px;
}

@media only screen and (max-width: 768px) {
  .login__wrapper {
    min-height: 300px;
    padding: 120px 30px 42px 30px;
  }
  .login__container {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  .login__logoWrapper {
    width: 100px;
    height: 100px;
  }

  .login__heading {
    font-weight: 400;
    font-size: 34px;
    line-height: 42px;
  }

  .login__terms {
    margin-top: 16px;
    font-size: 12px;
  }

  .login__google {
    padding: 16px;
    font-size: 16px;
  }
  .login__already {
    font-size: 14px;
  }
  .login__buttonwrapper {
    margin-top: auto;
  }
}
