html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Inter', sans-serif;
  --apt-black: #0e0e1a;
  --apt-black-v2: #07070d;
  --apt-white: #ffffff;
  --apt-grey: #d9d9da;
  --apt-yellow: #fac213;
  --apt-green: #57aa64;
  --apt-hover-grey: #78787e;
  -webkit-font-smoothing: antialiased;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  color: #000000;
}

* {
  box-sizing: border-box;
  margin: 0;
}

*:focus {
  box-shadow: none !important;
}

*[data-focus] {
  box-shadow: none !important;
}

/* Nextjs full screen page */
html,
body {
  height: 100vh;
}
body > div:first-child,
div#__next,
div#__next > div {
  height: 100%;
}

.cm-editor{
background: #EDEDED;
border-radius: 10px;
border-style: solid;
border-color: #efefef;
border-width: 1px;
}
.cm-content{
font-family: 'Inter', sans-serif;
}

.drag-handle {
  cursor: row-resize; 
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f6f6f6;
  height: 3px ;
  margin: auto;
  margin-bottom: 40px;
}

